##############################
# Build artefacts / output  #
##############################
bin/
obj/
out/
publish/
artifacts/
*.pdb
*.deps.json
*.runtimeconfig.json
*.xml
*.cache
*.tmp

#################################
# Rider / VS / VSCode metadata  #
#################################
.vs/
.idea/
!.idea/dictionaries/
*.user
*.suo
*.userprefs
*.csproj.user
*.DotSettings.user
Directory.Build.props

#################################
# NuGet                          #
#################################
/packages/
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets
project.assets.json
project.nuget.cache
*.packagespec.json

#################################
# Mod release artifacts          #
#################################
Releases/

#################################
# Context / temp files           #
#################################
context/

#################################
# Logs / debug                   #
#################################
*.log
*.trace

##############################
# OS trash                    #
##############################
Thumbs.db
desktop.ini
.DS_Store

##############################
# Rider specific (keep)       #
##############################
riderModule.iml
/_ReSharper.Caches/